

.container {
  text-align: center; 
  padding: 50px;
  margin: auto;
}
.parlor-card {
  border: 2px solid #a32b06;

}
.toppings-section {
  display: none;;
}
body {
  background: #fff url('../img/bg.jpg') no-repeat fixed center ;
  background-size: cover;

}